
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap-provice{
    box-sizing: border-box;
    width:834px;
    margin:0 auto;
    .provice-title{
      height: 36px;
        .provice-pre-next{
            font-size: 14px;
            color: #646464;
            letter-spacing: 0;
            float:right;
            span{
                cursor:pointer;
                height:56px;
                line-height: 56px;
                text-align: left;
                width:98px;
                height:56px;
                display: inline-block;
            }
            .next_lyx{
                color: #003434;
            }
          .next1{
            color: grey!important;
          }
        }
    }
    .provice-list{
        width:100%;
        margin:0 auto;
        margin-top:14px;
        .provice-item{
            margin-bottom:16px;
            height:70px;
            width:100%;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            color: #646464;
            dt,dd{
                float: left;
            }
            dt{
                margin-left:22.6px;
                width: 30.6px;
                height: 30.6px;
                margin-top:23px;
                position:relative;
                img{
                    width:100%;
                    height:100%;
                }
                p{
                    position:absolute;
                    display:inline-block;
                    font-size: 18px;
                    color: #646464;
                    letter-spacing: 0;
                    top:8px;
                    left:15px;
                  text-align: center;
                }
            }
            .provice-name{
                margin-left:32px;
                margin-top:33px;
                font-size: 14px;
                color: #D73333;
                width:76px;
            }
            .provice-join{
                margin-left:25px;
                height:25px;
                line-height:25px;
                width:185px;
                margin-top:23px;
                font-size: 14px;
                color: #646464;
                letter-spacing: 0;
             /*   background: url('../../../assets/images/person.png') no-repeat center center ;*/
                p{
                    display:inline-block;
                    width:60px;
                    height:25px;
                    line-height:25px;
                }
              img{
                vertical-align: middle;
                width: 15px;
                height:18px;
                float: none;
              }
                .person{
                    padding-top:1px;
                    padding-left: 7px;
                  width:90px;
                }
            }
            .provice-zan{
                height:25px;
                line-height:25px;
                width:210px;
                margin-top:23px;
                font-size: 14px;
                color: #646464;
                letter-spacing: 0;

                p{
                    display:inline-block;
                    width:70px;
                    height:25px;
                    line-height:25px;
                    text-align:right;

                }
              img{
                vertical-align: middle;
                width: 15px;
                height:18px;
                float: none;
              }
                .person{
                    padding-top:1px;
                    padding-left:-35px!important;
                    text-align:left;
                /*  background: url('../../../assets/images/xin.png') no-repeat center center ;*/
                }
            }
            .provice-donate{
                height:25px;
                line-height:25px;
                width:230px;
                margin-top:20px;
                font-size: 14px;
                color: #646464;
                letter-spacing: 0;
              position: relative;

                p{
               /*   background: url('../../../assets/images/money.png') no-repeat center center ;*/
                    display:inline-block;
                    width:60px;
                    height:25px;
                    line-height:25px;
                    text-align:left;
                    padding-right:5px;
                }
              img{
                vertical-align: middle;
                width: 15px;
                height:18px;
                float: none;
              }
                .person{
                    padding-top:1px;
                    text-align:left!important;

                  .provice_right_png{
                    margin-right: 3px;
                  }

                }
              .r_img_go{
               position: absolute;
                  right: 20px;
                top:5px;
                  vertical-align: middle;
                  width: 15px;
                  height:18px;
              }
            }
        }
    }
  .provice_info{
    font-family: '.PingFangSC-Regular';
    font-size: 14px;
    color: #646464;
    letter-spacing: 0;
    margin-top: 20px;
  }
}
