.honor{
  width: 539px;
  height: 98px;
  margin: auto;
  line-height: 75px;
  text-align: center;
  font-family:'.PingFangSC-Medium' ;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -3.35px;
  margin-top: 51px;
  margin-bottom: 51px;
}
.clearfix:after {
  content: "\200B";
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.wrap-solorank {
  box-sizing: border-box;
  width: 1184px;
  margin: 0 auto;
  .solorank-title {
    height: 56px;
    .input-box {
      width: 604px;
      float: left;
      height: 56px;
      position: relative;
      box-sizing: content-box;
      .search {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        margin-top: 8px;
        margin-left: 8px;
      }
      .close {
        position: absolute;
        right: 130px;
        top: 15.5px;
        width: 25px;
        height: 25px;
      }
      input {
        height: 56px;
        outline: none;
        float: left;
        border: 0;
        padding: 0;
        width: 410px;
        padding-left: 80px;
        border: 1px solid #8E8E8E;
        border-right: 1px solid #8E8E8E;
        border-radius: 4px;
        // font-family: .PingFangSC-Regular;
        font-size: 18px;
        color: #646464;
        letter-spacing: 0;
      }
      .search_btn{
        height: 60px;
        width: 100px;
        border-radius:0 4px 4px 0;
        float: left;
        border: none;
        margin-left: -3px;
        margin-top: -0.5px;
        color: #646464;
      }
    }
   /* .pre-next {
      font-size: 18px;
      color: #646464;
      letter-spacing: 0;
      float: right;
      span {
        cursor: pointer;
        height: 56px;
        line-height: 56px;
        text-align: left;
        width: 98px;
        height: 56px;
        display: inline-block;
      }
      .next {
        color: #003434;
      }
    }*/
  }
  .solorank-list {
    width: 1184px;
    margin: 0 auto;
    margin-top: 14px;
    .solorank-item {
      margin-bottom: 16px;
      height: 107px;
      line-height: 107px;
      width: 1184px;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      color: #646464;
      dt, dd {
        float: left;
      }
      dt {
        margin-left: 22.6px;
        width: 56.6px;
        height: 53.6px;
        margin-top: 25px;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          display: inline-block;
          font-size: 18px;
          color: #646464;
          letter-spacing: 0;
          top: -25px;
          left: 20px;
        }
      }
      .header-img {
        width: 78px;
        height: 74px;
        margin-top: 14px;
        border-radius: 50%;
        margin-left: 50px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .solorank-name, .solorank-num {
        width: 190px;
        height: 107px;
        margin-left: 33px;
        font-size: 18px;
        color: #646464;
        letter-spacing: 0;
      }
      .solorank-num {
        margin-left: 30px;
      }
      .solorank-work {
        width: 95px;
        height: 78px;
        border-radius: 4px;
        margin-top: 14px;
        margin-left: 44px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .solorank-money {
        width: 147px;
        height: 107px;
        margin-left: 57px;
        font-size: 18px;
        color: #646464;
        letter-spacing: 0;
      }
      .solorank-xin {
        margin-top: 5px;
        margin-left: 15px;
        width: 60px;
        height: 56px;
        line-height: 56px;
        cursor: pointer;

        img {
          height: 45.3px;
          width: 47.6px;
        }
      }
      .solorank-xin-num {
        margin-left: 10px;
        display: inline-block;
        width: 53px;
        font-size: 18px;
        color: #646464;
        letter-spacing: 0;
      }
    }
  }
  .lizi {
    display: inline-block;
    margin-top: 19px;
    margin-left: 39px;
  }
}

.star_1 {
  height: 45.3px;
  width: 47.6px;

  .VueStar__ground {
    height: 45.3px;
    width: 47.6px;
  }
  .VueStar__icon {
    height: 45.3px;
    width: 47.6px;

  }
  .VueStar__decoration {
    line-height: 100%;

  }

}
.pre-next {
  font-size: 18px;
  color: #646464;
  letter-spacing: 0;
  float: right;
  span {
    cursor: pointer;
    height: 56px;
    line-height: 56px;
    text-align: left;
    width: 98px;
    height: 56px;
    display: inline-block;
  }
  .next {
    color: #003434;
  }
  .next1{
    color: grey!important;
  }
}
.detail_img{
  .cover{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999999;
    opacity:0.6;
    background: black;

  }
  .img-title{
    position: fixed;
    right:0;
    left: 0;
    top:2%;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: auto;
    z-index: 99999999;
  }
  img{
    position: fixed;
    right:0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: 9999999;
    max-height: 85vh;
    max-width: 95vw;
  }
  .close_detail_img{
    position: fixed;
    top:-80%;
    right: -70%;
  }
}
