#real_prize{
  height: 323px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(146,137,137,0.50);
  margin-bottom: 45px;
}
.item_prize{
  height: 132.6px;
  width: 132.6px;
  margin: auto;
  margin-bottom: 12px;

}
.swiper-slid{
  text-align: center;
}
.prize-center{
  text-align: center;
}
.prize_text{
  font-family:'.PingFangSC-Regular';
  font-size: 14px;
  color: #FE4744;
  letter-spacing: -0.91px;
}
.wrap_swipe{
  width: 80%;
  margin: auto;
}
.swiper-container{

}
.swiper-wrapper{}
