#none_sort{
  height: 237px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px 0 rgba(146,137,137,0.50);
  margin-bottom: 45px;
}
.text_none{
  font-family:'.PingFangSC-Regular';
  font-size: 14px;
  color: #646464;
  letter-spacing: 0;
 margin-left: 78px;
}
